body{
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 340px;
    margin-top: 200px;
    position: relative;
}
.login, .pass{
    border: 0px;
    margin-top:14px; 
    font-size: 15px;
    padding: 26px 20px 10px;
}
.submit-btn{
    margin-top: 20px;
    width: 300px;
    border-radius: 20px;
    border: 0px; 
    background-color: lightcoral;
    font-size: 18px;
    padding: 14px 50px;

}
h1{
    position: absolute;
    text-align: center;
    height: 100px;
    color: rgb(245, 102, 102);
    margin-top: 50px; 
}
.change{
    position: absolute;
    height: 20px;
}