body{
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 340px;
    margin-top: 200px;
    position: relative;
}
.login, .pass,.input{
    border: 0px;
    margin-top:14px; 
    font-size: 15px;
    padding: 26px 20px 10px;
}
.submit-btn{
    margin-left: 20px;
    margin-top: 20px;
    width: 300px;
    border-radius: 20px;
    border: 0px; 
    background-color: lightsalmon;
    font-size: 18px;
    padding: 14px 50px;
    color: white;
}
h1{
    position: absolute;
    text-align: center;
    height: 100px;
    color: lightsalmon;
    margin-top: 100px; 
}
.change{
    position: absolute;
    height: 20px;
}
form > p{
    text-align: center;
    height: 100px;
    color: lightsalmon;
    font-size:20px;
    margin-top: 10px;
}
.output{
    margin-top: 20px;
    text-align: center;
    color: lightsalmon;
    font-size:18px;
}
hr{
    margin-top:30px;
    margin-bottom: 10px; 
    width: 340px;
    border: 2px solid lightsalmon
}
.trouble{
    text-align: center;
    height: 20px;
    color: tomato;
    font-size:20px;
    margin-bottom: 0px;
}